@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Roboto', sans-serif; */
:root {
	--clr-bg-900: #040d12;
	--clr-bg-400: #706b6b;
	/* --clr-primary: #293024; */
	--clr-primary: #fff;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--clr-primary);

	background: url("/background.jpeg");
	background-color: hsl(257, 40%, 49%, 0.9);
	background-blend-mode: multiply;
}

a {
	color: inherit;
}

.bored-card {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2em;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.link {
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.card {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	padding: 1em;
	border-radius: 10px;
	align-self: stretch;
}

.content__message {
	margin: 1em 0 1em;

	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	color: var(--clr-primary);

	border-radius: 10px;
	min-height: 300px;

	padding: 1em;

	display: flex;
	align-items: center;
	justify-content: center;
}

.content__controler {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

@media (min-width: 700px) {
	.row {
		flex-direction: row;
		align-items: center;
	}

	.content__message {
		order: 1;
		flex: 1;
	}

	.content__controler {
		flex: 1;
	}

	body {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.card {
		min-width: 700px;
		padding: 2em 3em;
	}

	.bored-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
